<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} |{% endif %} {{ site.theme_settings.title }}</title>
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.theme_settings.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Preload Google fonts, which is defined in sass -->
  {% for font_url in site.theme_settings.google_font_urls %}
  <link rel="preload" as="font" crossorigin href="{{ font_url }}">
  {% endfor %}

  <!--
    Preload any font-awesome assets we might want to use

    Identify these URLs by watching the network panel in Chrome when loading pages. Update
    them whenever we change font-awesome version.
  -->
  {% for font_url in site.theme_settings.font_awesome.preload_urls %}
  <link rel="preload" as="font" crossorigin href="{{ font_url }}">
  {% endfor %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/{{ site.theme_settings.favicon }}" type="image/x-icon">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.theme_settings.title }}"
    href="{{ "/feed.xml" | relative_url }}" />

  <!--
   Font Awesome

   Configured to lazily load, so it doesn't block the page
  -->
  <link
    rel="preload"
    as="style"
    onload="this.rel='stylesheet'"
    href="{{ site.theme_settings.font_awesome.href }}"
    integrity="{{ site.theme_settings.font_awesome.integrity }}"
    crossorigin="anonymous">

  <!-- KaTeX -->
  {% if site.theme_settings.katex and page.id %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css"
    integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js"
    integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ"
    crossorigin="anonymous"></script>
  {% endif %}

  <!-- Google Analytics, fast loading version -->
  {% if site.theme_settings.google_analytics %}
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{ site.theme_settings.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
  {% endif %}

  {% if page.title %}
    {% seo %}
  {% else %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url }}">
  {% endif %}
</head>
