// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';
@import 'layouts/tags';
@import 'layouts/search';

// Partials
@import 'includes/header';
@import 'includes/footer';
@import 'includes/tag_list';
@import 'includes/post_nav';

////////////////////////////////////////////////////////////////////////////////
// Customisations to the type theme
////////////////////////////////////////////////////////////////////////////////

// Captions should be centered, and italic'd, with a bit of bottom spacing
figure > figcaption {
  font-style: italic;
  text-align: center;
  margin-bottom: 14px;
}
